<a href="https://colab.research.google.com/github/leminhquan2809/ToanRoiRac/blob/main/B%C3%A0i_1_C%C6%A1_s%E1%BB%9F_Logic_v%C3%A0_t%E1%BA%ADp_h%E1%BB%A3p.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Các phép toán luận lý trong Python

1.1. Luận lý trong Python

In [3]:
a = True
b = False 
a and b

False

In [4]:
a or b

True

In [5]:
a ^ b

True

1.2. Biểu thức điều kiện If

In [86]:
def kiemtra_nuocsoi(nhiet_do): 
  if nhiet_do < 100: 
    return 'Nước chưa sôi!' 
  else: 
    return 'Nước đã sôi!' 
kiemtra_nuocsoi(100)

'Nước đã sôi!'

In [14]:
def kiemtra_nuocsoi1(nhiet_do):
  return 'Nước ' + ('đã sôi!' if nhiet_do == 100 else 'chưa sôi!')
kiemtra_nuocsoi1(100)

'Nước đã sôi!'

In [15]:
kiemtra_nuocsoi1(99)

'Nước chưa sôi!'

In [23]:
ds_dau = []
for diem_so in range(10): 
   if diem_so > 5: 
     ds_dau.append(str(diem_so))
ds_dau

['6', '7', '8', '9']

In [25]:
ds_dau = [str(diem_so)for value in range(10) if diem_so > 5]
ds_dau

['9', '9', '9', '9', '9', '9', '9', '9', '9', '9']

1.3. Thứ tự tính toán trong Python

In [30]:
a = True 
b = False
if (a == b) and (1/0 > 0):
  print('a = b')
else:
  print('a khác b')

a khác b

In [31]:
a = True 
b = False 
if (1/0 > 0) and (a == b):
  print('a = b')
else:
  print('a khác b')

ZeroDivisionError: ignored

# Dữ liệu dạng tập hợp trong Python: Set

VD1

In [33]:
S = [2*x for x in range(20)]
S

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

VD2

In [39]:
A = set([x for x in range(-50,50) if x**2 + x - 6 == 0])
B = set([2,-3])
A == B

True

VD3

In [44]:
def isPrime(N):
  for i in [x+1 for x in range(N)]:
    if N%i==0 and (i!=1 and i!=N):
      return False
  return True
S_prime = [isPrime(k)for k in range(1,40)]
S_prime

[True,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False]

In [45]:
S_prime[37]

False

In [46]:
S_prime[36]

True

In [48]:
S_prime = set([x for x in range(40)if(isPrime(x)==True and x>0)])
S_prime

{1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37}

VD4

In [49]:
Apro = set([2*x *y for x in range(-50,50) if x**2+x-6 == 0 for y in [1, 10, 100]]) 
Apro

{-600, -60, -6, 4, 40, 400}

VD5

In [50]:
AB = set([ (x, 2*y) for x in range(-50,50) if x**2+x-6 == 0 for y in [1, 10, 100]]) 
AB

{(-3, 2), (-3, 20), (-3, 200), (2, 2), (2, 20), (2, 200)}

# Dữ liệu dạng tập hợp trong Sympy: FiniteSet

3.1. Xây dựng và các thao tác cơ bản trên tập hợp

3.1.1. Xây dựng tập hợp

In [54]:
from sympy import FiniteSet 
S = FiniteSet(3,5,7)
S

FiniteSet(3, 5, 7)

In [62]:
from sympy import FiniteSet
from fractions import Fraction 
S = FiniteSet(1, 1.5, Fraction(1, 5)) 
S

FiniteSet(1/5, 1, 1.5)

In [56]:
S = FiniteSet(1, 1.5, Fraction(8, 2)) 
S

FiniteSet(1, 1.5, 4)

In [57]:
len(S)

3

3.1.2. Kiểm tra một số tập hợp

In [58]:
8 in S

False

In [59]:
1 in S

True

3.1.3. Tạo tập hợp rỗng

In [60]:
S = FiniteSet()
S

EmptySet

In [68]:
from sympy import EmptySet
S = EmptySet
S

EmptySet

3.1.4. Tạo tập hợp từ List hoặc Truple

In [69]:
phantu = [2, 4, 6, 8, 10] 
tap = FiniteSet(*phantu) 
tap

FiniteSet(2, 4, 6, 8, 10)

3.1.5. Loại bỏ các phần tử trùng và sắp thứ tự tập hợp

In [70]:
from sympy import FiniteSet 
phantu = [6, 7, 8, 9, 6, 7] 
taphop = FiniteSet(*phantu) 
taphop

FiniteSet(6, 7, 8, 9)

In [71]:
for thanhphan in taphop: 
 print(thanhphan)

6
7
8
9

In [72]:
from sympy import FiniteSet 
ds1 = [2, 4, 6] 
ds2 = [6, 2, 4] 
ds1 == ds2

False

In [73]:
S = FiniteSet(*ds1) 
T = FiniteSet(*ds2) 
S == T

True

3.2. Tập con (subset), tập cha (superset) và tập các tập con (power set)

In [74]:
S = FiniteSet(1) 
T = FiniteSet(1,2) 
S.is_subset(T)

True

In [75]:
T.is_subset(S)

False

In [76]:
T.is_subset(T)

True

In [77]:
S.is_superset(T)

False

In [78]:
T.is_superset(S)

True

In [79]:
S = FiniteSet(1,2,3) 
Ps = S.powerset()
len(Ps)

8

In [80]:
Ps

FiniteSet(FiniteSet(1), FiniteSet(1, 2), FiniteSet(1, 3), FiniteSet(1, 2, 3), FiniteSet(2), FiniteSet(2, 3), FiniteSet(3), EmptySet)

In [81]:
from sympy import FiniteSet 
S = FiniteSet(1, 2, 3) 
T = FiniteSet(3, 2, 1) 
S.is_proper_subset(T)

False

In [82]:
T.is_proper_powerset(S)

AttributeError: ignored

In [83]:
T = FiniteSet(3, 2, 1, 4) 
S.is_proper_subset(T)

True

In [85]:
T.is_proper_ powerset(S)

SyntaxError: ignored

3.3. Các phép toán trên tập hợp

3.3.1. Union và Intersection

In [87]:
from sympy import FiniteSet 
S = FiniteSet(2,4,6)
T = FiniteSet(3,5,7)
kq = S.union(T)
kq

FiniteSet(2, 3, 4, 5, 6, 7)

In [88]:
from sympy import FiniteSet 
U = FiniteSet(10, 20, 50) 
V = FiniteSet(1, 2, 5) 
U + V

FiniteSet(1, 2, 5, 10, 20, 50)

In [89]:
from sympy import FiniteSet 
S = FiniteSet(1,2,10)
T = FiniteSet(1,3,10)
giao = S.intersect(T)
giao

FiniteSet(1, 10)

In [91]:
from sympy import FiniteSet 
S = FiniteSet(1, 2, 10) 
T = FiniteSet(1, 3, 10) 
U = FiniteSet(10, 20, 50) 
hop = S.union(T).union(U) 
hop

FiniteSet(1, 2, 3, 10, 20, 50)

In [92]:
giao = S.intersect(T).intersect(U) 
giao

FiniteSet(10)

In [96]:
from sympy import FiniteSet 
U = FiniteSet(10, 20, 50) 
V = FiniteSet(1, 2, 5) 
rong = U.intersect(V) 
rong

EmptySet

In [98]:
rong = V.intersect(U)
rong 
EmptySet()

TypeError: ignored

3.3.2. Tích Descart – Cartesian Product

In [99]:
from sympy import FiniteSet 
V = FiniteSet(1, 2, 5) 
P = V ** 2 
P

ProductSet(FiniteSet(1, 2, 5), FiniteSet(1, 2, 5))

In [103]:
for phantu in P:
  print(phantu)

(1, 1)
(2, 1)
(1, 2)
(5, 1)
(2, 2)
(1, 5)
(5, 2)
(2, 5)
(5, 5)

3.3.3. Áp dụng công thức cho tập nhiều biến

In [104]:
from sympy import FiniteSet 
K = FiniteSet(35, 18, 27, 29, 24) 
for k in K: 
  T = k/10.0 
  print (T, k)

1.80000000000000 18
2.40000000000000 24
2.70000000000000 27
2.90000000000000 29
3.50000000000000 35

3.3.4. Ứng dụng: Tính toán xác suất sự kiện A và sự kiện B cùng xảy ra

In [106]:
from sympy import FiniteSet 
S = FiniteSet(0, 1, 2, 3, 4, 5, 6, 7, 8, 9) 
A = FiniteSet(2, 3, 5, 7)
B = FiniteSet(1, 3, 5, 7, 9)  
E = A.intersect(B) 
len(E)/len(S)

0.3