<a href="https://colab.research.google.com/github/leminhquan2809/ToanRoiRac/blob/main/Ch%C6%B0%C6%A1ng_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Các nguyên lý: cộng, nhân. bù trừ

Các nguyên lý

In [8]:
bongda_VN = ['Văn Lâm', 'Tiến Dũng', 'Anh Đức', 'Công Phượng'] 
for cau_thu in bongda_VN: 
  print("Tên cầu thủ Việt Nam: ", cau_thu)

Tên cầu thủ Việt Nam:  Văn Lâm
Tên cầu thủ Việt Nam:  Tiến Dũng
Tên cầu thủ Việt Nam:  Anh Đức
Tên cầu thủ Việt Nam:  Công Phượng

In [9]:
bongda_TG = ['Messi', 'Ronaldo', 'Thonglao', 'Mbappé'] 
for cau_thu in bongda_TG: 
  print("Tên cầu thủ thế giới: ", cau_thu)

Tên cầu thủ thế giới:  Messi
Tên cầu thủ thế giới:  Ronaldo
Tên cầu thủ thế giới:  Thonglao
Tên cầu thủ thế giới:  Mbappé

In [10]:
for bong_VN in bongda_VN: 
  for bong_TG in bongda_TG:
    print ("Khả năng tranh chấp quả bóng vàng giữa: ", bong_VN, " với ", bong_TG)

Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Mbappé
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Mbappé
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Mbappé
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Mbappé

In [12]:
N = 4 
for i1 in range(0, N): 
  for i2 in range(0, N): 
    for i3 in range(0, N): 
      print (i1, i2, i3)

0 0 0
0 0 1
0 0 2
0 0 3
0 1 0
0 1 1
0 1 2
0 1 3
0 2 0
0 2 1
0 2 2
0 2 3
0 3 0
0 3 1
0 3 2
0 3 3
1 0 0
1 0 1
1 0 2
1 0 3
1 1 0
1 1 1
1 1 2
1 1 3
1 2 0
1 2 1
1 2 2
1 2 3
1 3 0
1 3 1
1 3 2
1 3 3
2 0 0
2 0 1
2 0 2
2 0 3
2 1 0
2 1 1
2 1 2
2 1 3
2 2 0
2 2 1
2 2 2
2 2 3
2 3 0
2 3 1
2 3 2
2 3 3
3 0 0
3 0 1
3 0 2
3 0 3
3 1 0
3 1 1
3 1 2
3 1 3
3 2 0
3 2 1
3 2 2
3 2 3
3 3 0
3 3 1
3 3 2
3 3 3

In [13]:
for i1 in range(0, N): 
  for i2 in range(0, N): 
    for i3 in range(0, N): 
      if i1 != i2 and i2 != i3 and i1 != i3: 
        print (i1, i2, i3)

0 1 2
0 1 3
0 2 1
0 2 3
0 3 1
0 3 2
1 0 2
1 0 3
1 2 0
1 2 3
1 3 0
1 3 2
2 0 1
2 0 3
2 1 0
2 1 3
2 3 0
2 3 1
3 0 1
3 0 2
3 1 0
3 1 2
3 2 0
3 2 1

In [14]:
for i1 in range(0, N): 
  for i2 in range(i1+1, N): 
    for i3 in range(i2+1, N): 
      print (i1, i2, i3)

0 1 2
0 1 3
0 2 3
1 2 3

In [15]:
for i1 in range(0, N): 
  for i2 in range(i1, N): 
    for i3 in range(i2, N): 
      print (i1, i2, i3)

0 0 0
0 0 1
0 0 2
0 0 3
0 1 1
0 1 2
0 1 3
0 2 2
0 2 3
0 3 3
1 1 1
1 1 2
1 1 3
1 2 2
1 2 3
1 3 3
2 2 2
2 2 3
2 3 3
3 3 3

In [17]:
print(bong_VN [i1], bong_VN [i2], bong_VN [i3])

g g g

In [19]:
N = 3 
ketqua = [] 
for i1 in range(0, N): 
  for i2 in range(i1, N): 
    for i3 in range(i2, N): 
      ketqua = ketqua + [(i1, i2, i3)]
ketqua

[(0, 0, 0),
 (0, 0, 1),
 (0, 0, 2),
 (0, 1, 1),
 (0, 1, 2),
 (0, 2, 2),
 (1, 1, 1),
 (1, 1, 2),
 (1, 2, 2),
 (2, 2, 2)]

In [20]:
ketqua[3]

(0, 1, 1)

Thể hiện biểu thức luận lý bằng Python

In [21]:
def implies(a, b): 
  if a: 
    return b 
  else: 
    return True 
implies(10, 11) 
implies(1, 11) 
implies(0, 11)

True

In [22]:
x, y = 2, 3 
implies(x>=0 and y >=0, x*y >=0)

True

In [24]:
x, y = 2, 3 
implies(x>=0 and y >=0, x*y >=0)

True

# Lý thuyết tập hợp với kiểu dữ liệu list trong Python

In [26]:
N = 3 
ketqua = [] 
for i1 in range(0, N): 
 for i2 in range(i1, N):
   for i3 in range(i2, N): 
      ketqua = ketqua + [(i1, i2, i3)] 
(0, 2, 2) in ketqua

True

In [27]:
(0, 2, 1) in ketqua

False

In [30]:
A = [0, 1, 2, 3, 4, 5, 6, 7] 
B = [2, 4, 6, 8, 10] 
def intersection(A, B): 
  ketqua = [] 
  for x in A: 
    if x in B: 
      ketqua = ketqua + [x] 
  return ketqua
intersection(A, B)

[2, 4, 6]

In [31]:
def difference(A, B): 
  ketqua = [] 
  for x in A: 
    if x not in B: 
      ketqua = ketqua + [x] 
  return ketqua
A = [0, 1, 2, 3, 4, 5, 6, 7] 
B = [2, 4, 6, 8, 10] 
difference(A, B)

[0, 1, 3, 5, 7]

In [33]:
def isSubSet(A, B): 
  ketqua = True 
  for x in A: 
    if x not in B: 
      ketqua = False
  return ketqua 
A = [0, 1, 2, 3, 4, 5, 6, 7] 
B = [2, 4, 6, 8, 10] 
isSubSet(A, B)

False

In [34]:
B = [1, 3, 5, 7] 
isSubSet(A, B)

False

In [35]:
isSubSet(B, A)

True

In [36]:
def equalSets(A, B): 
  return isSubSet(A, B) and isSubSet(B, A) 
equalSets([1, 3, 5, 7], [7, 3, 1, 5])

True

# Bài toán ứng dụng 1: Xây dựng danh sách tour địa điểm du lịch tại TP.HCM

Xây dựng dữ liệu đầu vào

In [37]:
sodiem_DL = 9 
diadiem = ['Cần Giờ', 'Củ Chi', 'Chợ Bến Thành', 'Sở Thú', 'BV thẫm mỹ răng', 'Chí Hòa', 
'Dinh Độc lập', 'Bào tàng', 'Trường Văn Lang'] 
thoigian = [1.0, 1.0, 0.6, 0.4, 1.5, 0.3, 0.3, 0.3, 0.6] 
songay_dulich = 1.5

 Phương pháp “vét cạn” tìm tất cả các giải pháp

In [38]:
def lietke_chuoinhiphan(n):
  danh_sach = []
  for i in range(0,2**n):
    gia_tri = i
    chuoi_np = bin(gia_tri).replace('0b','')
    while(len(chuoi_np)<n):
      chuoi_np = '0' + chuoi_np
    danh_sach.append(chuoi_np)
  return danh_sach
bin(10)

'0b1010'

In [40]:
bin(10).replace('0b', '')

'1010'

In [41]:
n = 9 
chuoi_np = bin(10).replace('0b','') 
while (len(chuoi_np) < n): 
  chuoi_np = '0' + chuoi_np 
chuoi_np

'000001010'

In [42]:
lietke_chuoinhiphan(3)

['000', '001', '010', '011', '100', '101', '110', '111']

In [45]:
def kiemtra_chuoi(chuoi_dang_chon, danhsach, gioihan):
  tong_thoigian = 0
  for j in range(0, len(chuoi_dang_chon)):
    if chuoi_dang_chon[j] == '1':
      tong_thoigian = tong_thoigian + thoigian[j]
  ketqua = True
  if tong_thoigian > gioihan:
    ketqua = False
  return ketqua, tong_thoigian

In [46]:
def tim_phuongan(thoigian, gioihan):
  search = []
  cac_phuongan = lietke_chuoinhiphan(len(thoigian))
  for i in range (len(cac_phuongan)):
    dc_kg, diem = kiemtra_chuoi(cac_phuongan[i], thoigian, gioihan)
    if dc_kg == True:
      print(cac_phuongan[i], dc_kg, diem)
  return search

In [47]:
songay_dulich = 1.5 
tim_phuongan(thoigian, songay_dulich)

000000000 True 0
000000001 True 0.6
000000010 True 0.3
000000011 True 0.8999999999999999
000000100 True 0.3
000000101 True 0.8999999999999999
000000110 True 0.6
000000111 True 1.2
000001000 True 0.3
000001001 True 0.8999999999999999
000001010 True 0.6
000001011 True 1.2
000001100 True 0.6
000001101 True 1.2
000001110 True 0.8999999999999999
000001111 True 1.5
000010000 True 1.5
000100000 True 0.4
000100001 True 1.0
000100010 True 0.7
000100011 True 1.2999999999999998
000100100 True 0.7
000100101 True 1.2999999999999998
000100110 True 1.0
000101000 True 0.7
000101001 True 1.2999999999999998
000101010 True 1.0
000101100 True 1.0
000101110 True 1.3
001000000 True 0.6
001000001 True 1.2
001000010 True 0.8999999999999999
001000011 True 1.5
001000100 True 0.8999999999999999
001000101 True 1.5
001000110 True 1.2
001001000 True 0.8999999999999999
001001001 True 1.5
001001010 True 1.2
001001100 True 1.2
001001110 True 1.5
001100000 True 1.0
001100010 True 1.3
001100100 True 1.3
001101000 True 1.3
010000000 True 1.0
010000010 True 1.3
010000100 True 1.3
010001000 True 1.3
010100000 True 1.4
100000000 True 1.0
100000010 True 1.3
100000100 True 1.3
100001000 True 1.3
100100000 True 1.4

[]