<a href="https://colab.research.google.com/github/leminhquan2809/ToanRoiRac/blob/main/Ch%C6%B0%C6%A1ng_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ôn luyện kiến thức cơ bản Python

1.1 Viết hàm trong Python

In [1]:
def luythua(x, n): 
 ketqua= 1 
 for i in range(n): 
    ketqua = ketqua *x 
 return ketqua 
luythua(2,1)

2

In [3]:
luythua(2,0)

1

1.2 Kiểu dữ liệu tập hợp (set) trong Python

In [4]:
{2,4,6}

{2, 4, 6}

In [5]:
{ n for n in range(100) if n % 2 == 1 }

{1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99}

In [6]:
tap_rong = set() 
print (tap_rong)

set()

In [7]:
setA = { n for n in range(100) if n % 2 == 1 } 
setB = { n for n in range(100) if n % 2 == 1 } 
setA | setB

{1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99}

In [8]:
setA & setB

{1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99}

In [13]:
setA - setB

set()

In [12]:
setA < setB

False

In [14]:
setA <= setB

True

In [16]:
10 in setA

False

In [17]:
11 in setA

True

In [21]:
setA.add(0) 
setA

{0,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99}

In [20]:
setA > setB

True

1.3 Hàm Lambda trong Python

In [25]:
def f(x): 
  return x**2
print (f(8))

64

In [26]:
g = lambda x: x**2
print(g(8))

64

In [27]:
g = lambda x: x**3
print(g(8))

512

In [56]:
def thue(phan_tram):
  hcm = thue(0.012) 
  hn = thue(0.01)
  hcm(1000000)
  return lambda x: x * phan_tram
print(hcm)

hcm

In [ ]:
from functools import reduce 
day_so = range(2, 50)
print filter(lambda x: x % 3 == 0, day_so)

In [ ]:
print map(lambda x: x * x , day_so)

In [ ]:
day_so = range(1, 11) 
print reduce(lambda x, y: x+y, day_so)

In [ ]:
f = lambda a,b: a if (a>b) else b
print reduce(f, ds)

In [ ]:
imatrix = lambda n:[[1 if j==i else 0 for j in range(n)] for i in range(n)] 
imatrix(3)

In [ ]:
import numpy 
list_eye = lambda n: numpy.eye(n).tolist() 
list_eye(4)

In [ ]:
g = lambda n:
  [[1 if (j+1==i or j==i+1) 
  else math.sqrt(2) 
  for j in range(n)] 
  for i in range(n)] 
g(3)

In [ ]:
 g = lambda n:
  [[1 if (j+1==i or j==i+1) 
  else math.sqrt(2) 
  for j in range(n)] 
  for i in range(n)] 
g(3)

# Ánh xạ và hàm hợp

2.1 Phân loại ánh xạ và một số tính chất

2.2 Hàm hợp trong Python

In [64]:
def alpha(a): 
  return a+10 
def beta(b): 
  return b*3 
def ham_hop(g, f):
  return (lambda x: g(f(x))) 
h = ham_hop(alpha, beta)
h(1)

13

In [67]:
g = ham_hop(beta, alpha) 
g(1)

33

# Quy nạp toán học và xây dựng hàm đệ quy trong Python

In [71]:
from datetime import datetime 
from datetime import timedelta 
def millis(start_time): 
  dt = datetime.now() - start_time 
  ms = (dt.days * 24 * 60 * 60 + dt.seconds) * 1000 + dt.microseconds / 1000.0 
  return ms 
def milisec_passed(start_time): 
  thoigian_troi_qua = millis(start_time)
  s = "Thời gian đã trôi qua: " + str(int(thoigian_troi_qua)) + " mili giây." 
  return s

In [72]:
def tong(n): 
  bat_dau = datetime.now() 
  ketqua = 0 
  for i in range(n+1): 
    ketqua = ketqua + i 
  thoi_gian = str(milisec_passed(bat_dau))
  print(thoi_gian) 
  return ketqua 
tong(100000000)

Thời gian đã trôi qua: 7262 mili giây.

5000000050000000

In [73]:
 def tong1(n): 
  bat_dau = datetime.now() 
  ket_qua = n*(n+1)/2 
  thoi_gian = str(milisec_passed(bat_dau)) 
  print(thoi_gian) 
  return ket_qua
tong1(1000000)

Thời gian đã trôi qua: 0 mili giây.

500000500000.0

In [74]:
def fibo(n): 
  if (n == 0) or (n == 1): 
    return 1 
  else: 
    return fibo(n-1) + fibo(n-2)
fibo(2)

2

In [75]:
fibo(3)

3

In [76]:
fibo(4)

5

In [78]:
fibo(5)

8

Kỹ thuật Memoization áp dụng trong đệ quy với Python

In [80]:
def fibo_mem(n, so_da_tinh = {0:0, 1: 1}): 
  if n not in so_da_tinh: 
    so_da_tinh[n] = fibo_mem(n-1, so_da_tinh) + fibo_mem(n-2, so_da_tinh) 
  return so_da_tinh[n]
fibo_mem(3)

2

In [84]:
fibo_mem(4)

3

In [83]:
fibo_mem(5)

5

In [82]:
fibo_mem(200)

280571172992510140037611932413038677189525

In [81]:
fibo_mem(500)

139423224561697880139724382870407283950070256587697307264108962948325571622863290691557658876222521294125